/* fall down Hover Effects */
.img-box, .text-box {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
/*-- agileits --*/
.img-box img, .text-box img {
  display: block;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.img-box {
  position: relative;
}
.text-box {
  top: 0;
  left: 0;
  position: absolute;
}
.text-box .text-content {
  display: block;
  position: relative;
  padding: 2%;
  float: left;
  left: 50%;
  top: 50%;
  position: relative;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.fall-down-effect{
  display: block;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  -webkit-transform-style: preserve3d;
  -moz-transform-style: preserve3d;
  -ms-transform-style: preserve3d;
  -o-transform-style: preserve3d;
  transform-style: preserve3d;
}
.fall-down-effect .img-box {
  z-index: 1;
}
.fall-down-effect .text-box {
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  filter: alpha(opacity=0);
  -wekbit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.fall-down-effect.top .text-box {
  -webkit-transform: translateY(-100%) rotateX(90deg);
  -moz-transform: translateY(-100%) rotateX(90deg);
  -ms-transform: translateY(-100%) rotateX(90deg);
  -o-transform: translateY(-100%) rotateX(90deg);
  transform: translateY(-100%) rotateX(90deg);
  -webkit-transform-origin: bottom;
  -moz-transform-origin: bottom;
  -ms-transform-origin: bottom;
  -o-transform-origin: bottom;
  transform-origin: bottom;
}
.fall-down-effect.right .text-box {
  -webkit-transform: translateX(100%) rotateY(90deg);
  -moz-transform: translateX(100%) rotateY(90deg);
  -ms-transform: translateX(100%) rotateY(90deg);
  -o-transform: translateX(100%) rotateY(90deg);
  transform: translateX(100%) rotateY(90deg);
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  -ms-transform-origin: left;
  -o-transform-origin: left;
  transform-origin: left;
}
.fall-down-effect.bottom .text-box {
  -webkit-transform: translateY(100%) rotateX(-90deg);
  -moz-transform: translateY(100%) rotateX(-90deg);
  -ms-transform: translateY(100%) rotateX(-90deg);
  -o-transform: translateY(100%) rotateX(-90deg);
  transform: translateY(100%) rotateX(-90deg);
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -ms-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
}
.fall-down-effect.left .text-box {
  -webkit-transform: translateX(-100%) rotateY(-90deg);
  -moz-transform: translateX(-100%) rotateY(-90deg);
  -ms-transform: translateX(-100%) rotateY(-90deg);
  -o-transform: translateX(-100%) rotateY(-90deg);
  transform: translateX(-100%) rotateY(-90deg);
  -webkit-transform-origin: right;
  -moz-transform-origin: right;
  -ms-transform-origin: right;
  -o-transform-origin: right;
  transform-origin: right;
}
.fall-down-effect:hover .text-box {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  filter: alpha(opacity=100);
  -wekbit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transform: translateX(0) rotateY(0);
  -moz-transform: translateX(0) rotateY(0);
  -ms-transform: translateX(0) rotateY(0);
  -o-transform: translateX(0) rotateY(0);
  transform: translateX(0) rotateY(0);
}
/*--donate end here--*/
.banner-strip {
    padding: 2em 0em;
}
.b-strip-right h4 {
    font-size: 1.1em;
}
.glyphicon {
    margin-bottom: 0.5em;
}
.b-strip-right p {
    font-size: 0.8em;
}

.banner-strip {
    padding: 1.5em 0em 0.7em 0em;
}
/*--banner strip start here--*/

.banner-strip {
    padding: 3em 0em;
    background: #fff;
    box-shadow: 0px 0px 1px 1px #fff;
}
.b-strip-left span.glyphicon.glyphicon-leaf {
    border-radius: 40px;
    color: #3b3b3be6;
}
/*-- w3layouts --*/
.b-strip-left span.glyphicon.glyphicon-eye-open {
    border-radius: 40px;
    color: #3b3b3be6;
}
.b-strip-left span.glyphicon.glyphicon-education {
    border-radius: 40px;
    color: #3b3b3be6;

}
.b-strip-right h4 {
    font-size: 1.4em;
    color:#006699;
    margin-bottom: 0.2em;
   font-family: 'Archivo Narrow', sans-serif;
   text-align: center;
   text-transform: uppercase;
   font-family: Proxima Nova;
   font-weight: normal;
}
.b-strip-right p {
    font-size: 1em;
    color: #7B7B7B;
    line-height: 1.8em;
    text-align: center;
    margin-bottom:28px;
}
/*--banner strip end here--*/
.glyphicon {
    margin-bottom: 0.3em;
}
.bann-strip-grid .ball {
  --size: 46px;
  display: inline-block;
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  text-align: center;
  line-height: var(--size);
  border: 1px solid #3b3b3be6;
}
.b-strip-left {
  text-align: center;
  margin-bottom: 10px;
}
.bann-strip-grid {
  padding: 0 30px;
}
.bann-strip-grid .ball .glyphicon {
  /*color: #fff !important;*/
}
